[submodule "sksevr_plugin/skse"]
	path = sksevr_plugin/skse
	url = git@github.com:Odie/sksevr-mirror.git
[submodule "sksevr_plugin/common"]
	path = sksevr_plugin/common
	url = git@github.com:Odie/sksevr-common-mirror.git
